<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>watchmeplan</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>createEvent</display-name>
    <servlet-name>createEvent</servlet-name>
    <servlet-class>createEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createEvent</servlet-name>
    <url-pattern>/createEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerUser</display-name>
    <servlet-name>registerUser</servlet-name>
    <servlet-class>registerUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerUser</servlet-name>
    <url-pattern>/registerUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginUser</display-name>
    <servlet-name>loginUser</servlet-name>
    <servlet-class>loginUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginUser</servlet-name>
    <url-pattern>/loginUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newServlet</display-name>
    <servlet-name>newServlet</servlet-name>
    <servlet-class>newServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newServlet</servlet-name>
    <url-pattern>/newServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>confirmEvent</display-name>
    <servlet-name>confirmEvent</servlet-name>
    <servlet-class>confirmEvent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>confirmEvent</servlet-name>
    <url-pattern>/confirmEvent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>makePayment</display-name>
    <servlet-name>makePayment</servlet-name>
    <servlet-class>makePayment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>makePayment</servlet-name>
    <url-pattern>/makePayment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateUserData</display-name>
    <servlet-name>updateUserData</servlet-name>
    <servlet-class>updateUserData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUserData</servlet-name>
    <url-pattern>/updateUserData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AupdateProfile</display-name>
    <servlet-name>AupdateProfile</servlet-name>
    <servlet-class>AupdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AupdateProfile</servlet-name>
    <url-pattern>/AupdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>category</display-name>
    <servlet-name>category</servlet-name>
    <servlet-class>category</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>category</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adeleteprofile</display-name>
    <servlet-name>Adeleteprofile</servlet-name>
    <servlet-class>Adeleteprofile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adeleteprofile</servlet-name>
    <url-pattern>/Adeleteprofile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteUserData</display-name>
    <servlet-name>deleteUserData</servlet-name>
    <servlet-class>deleteUserData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUserData</servlet-name>
    <url-pattern>/deleteUserData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adeleteuser</display-name>
    <servlet-name>Adeleteuser</servlet-name>
    <servlet-class>Adeleteuser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adeleteuser</servlet-name>
    <url-pattern>/Adeleteuser</url-pattern>
  </servlet-mapping>
</web-app>